.main-page-img {

    height: auto;
    max-width: 20em;
    object-fit: contain;
    margin: 1em;

}

.img1-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
    gap: 1rem;
    width: 100%;
    align-items: start;
    margin-top: 0.75em;
    margin-bottom: 0.75em;

}


.img1-child-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.main-page-text {
    width: 100%;
}

.contact-text {
    font-size: 2em;
}

.main-page-links {
    font-size: 1.5em;
}
