.calender1{
    margin-top: 3em;

}



.event-text-large {
    font-size: 2em;
    font-weight: bold;
}

.event-text-header {
    font-size: 2em;
    font-weight: bold;
    margin-top: 3em;
}


.event-text-previous {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: -1em;
}

.event-list-container1 {

    margin-top: 3em;
    margin-bottom: 3em;

}


.hr-events {
    display: block;
    height: 0.1em;
    margin-top: 12em;
    border: 0;
    border-top: 0.12em solid;
    margin-bottom: 3em;
    max-width: 100%;
    
}