* {
    box-sizing: border-box;
}



.tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(11em, 100%/5), 1fr));
    grid-auto-rows: auto;
    gap: 11em;
    max-width: 100%;


}

.tile-card {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: auto;
    grid-template-areas: "t1" "t2" "t3";


}

.tile-card-child1 {
    grid-area: t1;

}

.tile-card-child-portrait {
    grid-area: t2;
    height: 10em;
    width: 10em;
}

.tile-card-child3 {
    grid-area: t3;
    max-width: 10em;
}

.tile-portrait {

    height: 100%;
    width: 100%;
    object-fit: cover;
}