<div class="wrapper">
  <div class="main-nav">

    <div class="child-header-nav-button">
      <div class="child-bars">

        <div class="menu-icon">
          <span class="line">
          </span>
          <span class="line">
          </span>
          <span class="line">
          </span>
        </div>

      </div>

      <div class="child-links">

        <div class="nav-header-items">
          <ul>
            <li class="li-nav-menu">
              <a href="/">
                Info
              </a>
            </li>
            <li class="li-nav-menu">
              <a href="/galleria/ ">
                Galleria
              </a>
            </li>
            <li class="li-nav-menu">
              <a href="/taiteilijat/">
                Taiteilijat
              </a>
            </li>

            <li class="li-nav-menu">
              <a href="/kurssit/">
                Kurssit
              </a>
            </li>
            <li class="li-nav-menu">
              <a href="https://www.etsy.com/">
                Kauppa
              </a>
            </li>

            <li class="li-nav-menu">
              <a href="/contact/">
                Yhteys
              </a>
            </li>
            <li class="li-nav-menu">
              <a href="/">FI</a> / <a href="/en/">EN</a>
            </li>

          </ul>
        </div>

      </div>

    </div>

    <div class="child-header-image">
      <img alt="" class="header-image" src="{{ site.baseurl }}/Images/Header/header2.png" />
    </div>

    <div class="child-header-title">
      <div>Art</div>
      <div>House </div>
      <div>Tapio</div>
    </div>

  </div>


</div>