<!DOCTYPE html>
<html>

<head>
    <title>
        {{ site.title }}
    </title>

    <meta content="width=device-width" name="viewport" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <meta name="{{ page.title }}" content="{{ page.meta_content }}" />

    <meta property=“og:title” content="Art House Tapio" />
    <meta property=“og:type” content=“website” />
    <meta property="og:image" content="{{ site.baseurl }}/Images/Header/header2.png" />
    <meta property=“og:url” content=“.” />
    <meta property=“og:description” content="Art House Tapio" />

    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/css/menu.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/css/gallery.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/css/gallery_page.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/css/content_formatting_layouts.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/css/events.css" rel="stylesheet" />

    <link rel="icon" href="{{ site.baseurl }}/Images/favicon.ico" type="image/x-icon" />

</head>

<body>

    <div class="info-container1">
        {% include cookie_banner.html %}

        <div class="child-header1">
            {% include header.html %}
        </div>


        <div class="child-content1">

            {{ content }}
        </div>

        <div class="child-footer1">
            {% include footer.html %}
        </div>

    </div>

    <script src="{{ site.baseurl }}/js/app.js"></script>
    <script src="{{ site.baseurl }}/js/script.js"></script>
</body>

</html>